.DerivedDropdown_container{
    max-width: 894px;
    padding: 16px;
    margin:auto;
    background-color: white;
}
.lable_dropdown{
    display: flex;
    padding:8px 0;
    align-items: center;
}
.multi_dropdown{
    display:flex;
    align-items: center;
}