.allRequiredDetails_container{
    max-width: 894px;
    padding: 16px;
    margin:auto;
    background-color: white;
}
.lable_dropdown{
    display: flex;
    padding-top:8px;
    align-items: center;
}