.product_list_status{
    width: 56px;
    height: 20px;
    // padding: 8px 14px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(23, 168, 95, 0.2);
    border-radius: 50px;

    h5 {
        font-size: 12px;
        line-height: 14px;
        color: #17A85F;
    }
}
.gray_font{
    color: #8894A0;
}
.floating_add_button{
    position: fixed;
    bottom:30px;
right:30px;

// box-shadow:0px 0px 6px rgba(0, 0, 0, 0.12), 0px 6px 12px rgba(0, 0, 0, 0.24);

}
